<app-card titulo="Projeto ANGULAR by Capgemini" cor="#87CEFA">
    <app-primeiro-componente></app-primeiro-componente>
</app-card>

<app-card titulo = "Aprofundando o conhecimento em templates" cor="#6495ED">
    <app-segundo-componente></app-segundo-componente>
</app-card>

<app-card titulo="Pipes" cor="#DAA520">
    <app-pipe-componente></app-pipe-componente>
</app-card>

<app-card titulo="Two Way Data Binding" cor="#7FFFD4">
    <app-two-way-data-binding></app-two-way-data-binding>
</app-card>

<app-card titulo = "Renderizando Listas" cor="#98FB98">
    <app-renderizando-listas></app-renderizando-listas>
</app-card>

<app-card titulo="Componentes Personalizados" cor="#BC8F8F">
    <app-componente-personalizado nome="João" sobrenome="da Silva"></app-componente-personalizado>
    <app-componente-personalizado nome="Maria" sobrenome="da Silva"></app-componente-personalizado>
</app-card>

<app-card titulo="Componentes Pai e Serviços" cor="#708090">
    <app-componente-pai></app-componente-pai>
    <app-exemplos-servicos1></app-exemplos-servicos1>
    <app-exemplos-servicos2></app-exemplos-servicos2>
</app-card>